[Unit]
Description=Chrome headless service
Before=teamgage-update.service
BindsTo=teamgage-update.service

[Service]
User=root
ExecStart=/usr/bin/google-chrome --headless --disable-gpu --remote-debugging-port=9222